.album{
	margin-top:13px;
	margin-bottom:30px;
	background:#fff;
	border-radius:4px;
	padding:30px;
}
.album .list{
	overflow:hidden;
}
.album .imgbox{
	width:180px;
	text-align:center;
	border:1px dotted #ccc;
	padding:5px;
	float:left;
	margin:4px;
}
.album .imgbox img{
	width:150px;
	height:150px;}
.album input[type=text]{
	padding:4px;
	border:1px solid #ccc;
	width:300px;
}
.album .act{
	line-height:32px;
}
.album .act-add{
	padding:3px 22px;
	cursor:pointer;
	line-height:20px;
}
.album .imgbox button{
	cursor:pointer;
	margin:0 2px;
}
